<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/auth.css" />
    <title>Authorize</title>
  </head>
  <body>
    <!-- <div class="login-card">
      <h1><%= title %></h1>
      <div class="login-client-image">
        <% if (client.logoUri) { %><img src="<%= client.logoUri %>"><% } %>
      </div>

      <ul>
      <% if ([details.scopes.accepted, details.scopes.rejected, details.claims.accepted, details.claims.rejected].every(({ length }) => length === 0)) { %>
        <li>this is a new authorization</li>
      <% } %>

      <% if ([details.scopes.new, details.claims.new].every(({ length }) => length === 0)) { %>
        <li>the client is asking you to confirm previously given authorization</li>
      <% } %>

      <% newScopes = new Set(details.scopes.new); newScopes.delete('openid'); newScopes.delete('offline_access') %>
      <% if (newScopes.size) { %>
        <li>scopes:</li>
        <ul>
          <% newScopes.forEach((scope) => { %>
            <li><%= scope %></li>
          <% }) %>
        </ul>
      <% } %>

      <% newClaims = new Set(details.claims.new); ['sub', 'sid', 'auth_time', 'acr', 'amr', 'iss'].forEach(Set.prototype.delete.bind(newClaims)) %>
      <% if (newClaims.size) { %>
        <li>claims:</li>
        <ul>
          <% newClaims.forEach((claim) => { %>
            <li><%= claim %></li>
          <% }) %>
        </ul>
      <% } %>

      <% if (params.scope && params.scope.includes('offline_access')) { %>
        <li>
        the client is asking to have offline access to this authorization
          <% if (!details.scopes.new.includes('offline_access')) { %>
            (which you've previously granted)
          <% } %>
        </li>
      <% } %>

      </ul>

      <form autocomplete="off" action="/interaction/<%= uid %>/confirm" method="post">
        <button autofocus type="submit" class="login login-submit">Continue</button>
      </form>
      <div class="login-help">
        <a href="/interaction/<%= uid %>/abort">[ Cancel ]</a>
        <% if (client.tosUri) { %>
          <a href="<%= client.tosUri %>">[ Terms of Service ]</a>
        <% } %>
        <% if (client.policyUri) { %>
          <a href="<%= client.policyUri %>">[ Privacy Policy ]</a>
        <% } %>
      </div>
    </div> -->

    <div class="authorization">
      <div class="access">
        <img src="/images/Badgewell _Logo Horizontal.svg" alt="" srcset="" />
        <h3>Authorize Jobber to access your profile?</h3>
        <div class="actions">
          <form
            autocomplete="off"
            action="/interaction/<%= uid %>/confirm"
            method="post"
          >
            <button autofocus type="submit" class="auth">Authorize</button>
          </form>

          <form
            autocomplete="off"
            action="/interaction/<%= uid %>/abort"
            method="get"
          >
            <button class="cancel">Cancel</button>
          </form>
        </div>
        <div class="controls">
          <h4>This website will be able to:</h4>
          <label>
            <input type="checkbox" checked disabled />
            Get Open Badges Assertions
          </label>
          <!-- <label>
            <input type="checkbox" />
            Application Access
          </label>
          <label>
            <input type="checkbox" />
            Grants the app permission to read your badges on this host.
          </label>
          <label>
            <input type="checkbox" />
            Create Open Badges Assertion
          </label>
          <label>
            <input type="checkbox" />
            Grants the app permission to create (or replace) your badges on this
            host.
          </label>
          <label>
            <input type="checkbox" />
            Get Open Badges Profile
          </label>
          <label>
            <input type="checkbox" />
            Grants the app permission to read your badge profile on this host.
          </label>
          <label>
            <input type="checkbox" />
            Create or update Open Badges Profile
          </label>
          <label>
            <input type="checkbox" />
            Grants the app permission to update your badge profile on this host.
          </label>
          <label>
            <input type="checkbox" />
            Offline Access
          </label>
          <label>
            <input type="checkbox" />
            Access to your applications and resources, even when you are offline
          </label> -->
        </div>
      </div>
      <div class="brand">
        <img src="/images/Badgewell _Logo Horizontal.svg" alt="" srcset="" />
        <p>
          we are a platform that helps people collect a digital version of their
          certificates. And provide organization more insights about the
          receivers of the certificates for better targeting.
        </p>
        <a href="https://www.badgewell.com">www.badgewell.com</a>
      </div>
    </div>
  </body>
</html>
