<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Sign in</title>
  </head>
  <body>
    <!-- <div class="login-card">
      <h1><%= title %></h1>
      <% if (flash) { %>
        <p><%= flash %></p>
      <% } %>
      <form autocomplete="off" action="/interaction/<%= uid %>/login" method="post">
        <input required type="email" name="email" placeholder="Enter an email" <% if (!params.login_hint) { %>autofocus="on"<% } else { %> value="<%= params.login_hint %>" <% } %>>
        <input required type="password" name="password" placeholder="and password" <% if (params.login_hint) { %>autofocus="on"<% } %>>

        <button type="submit" class="login login-submit">Sign-in</button>
      </form>
      <div class="login-help">
        <a href="/interaction/<%= uid %>/abort">[ Cancel ]</a>
        <% if (client.tosUri) { %>
          <a href="<%= client.tosUri %>">[ Terms of Service ]</a>
        <% } %>
        <% if (client.policyUri) { %>
          <a href="<%= client.policyUri %>">[ Privacy Policy ]</a>
        <% } %>
      </div>
    </div> -->
    <form
      class="login-container"
      autocomplete="off"
      action="/interaction/<%= uid %>/login"
      method="post"
    >
      <img src="/images/Badgewell _Logo Horizontal.svg" />
      <h3 class="header">Login with</h3>
      <div class="form-group">
        <label for="email">
          Email
          <input required type="email" name="email" placeholder="Enter an email" <% if (!params.login_hint) { %>autofocus="on"<% } else { %> value="<%= params.login_hint %>" <% } %>>
        </label>
        <br />
        <label for="password">
          Password
          <input required type="password" name="password" placeholder="and password" <% if (params.login_hint) { %>autofocus="on"<% } %>>
        </label>
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
